.table {
  > :not(caption) > * > * {
    box-shadow: none;
  }

  .sort-col {
    cursor: pointer;
    display: block;
    position: relative;
    color: $table-hover-color;
    text-decoration: none;

    .fa {
      visibility: hidden;
      position: absolute;
      right: 1px;
      top: 6px;
    }

    &:hover,
    .active {
      color: $body-color;
    }

    &:hover .fa,
    &:hover,
    .active {
      visibility: visible;
    }

    .fa-sort-ASC:before,
    &:hover .fa-sort-DESC:before {
      @extend .fa-sort-amount-asc
    }

    .fa-sort-DESC:before,
    &:hover .fa-sort-ASC:before {
      @extend .fa-sort-amount-desc
    }
  }

  > :not(:first-child) {
    border-top: 2px solid $table-border-color;
  }
}
.table-striped {
  thead th {
    background-color: $table-head-bg;
  }

  tbody tr {
    background-color: $table-head-bg;
  }
}

.table-muted .text-muted {
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.table > thead > tr > th {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
  text-transform: uppercase;
  line-height: 2;
  color: $table-hover-color;
}

.table .list-action,
.table .list-setup {
  width: 1px;
}

.list-table .dropdown-menu {
  position: absolute !important;
  inset: auto auto auto auto;
  transform: none !important;
  top: 100% !important;
  left: 0 !important;
  margin-top: var(--bs-dropdown-spacer, 0.125rem) !important;
}
.list-table {
  .table {
    thead {
      position: relative;
    }

    th:first-child,
    td:first-child {
      padding-left: $page-padding-x;
      padding-right: 0;
    }

    th:last-child,
    td:last-child {
      padding-left: 0;
      padding-right: $page-padding-x;
    }
  }

  .bulk-actions {
    position: static !important;
    width: 100% !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    z-index: auto !important;

    &.hide {
      display: none !important;
    }

    &:not(.hide) {
      display: table-row !important;
    }

    td {
      display: table-cell !important;
      padding: 0.75rem 1rem !important;
      background: inherit !important;
      vertical-align: middle;
    }

    .btn-counter,
    .btn-counter + span,
    .btn-select-all {
      display: none !important;
    }
  }
}
.table-striped {
  thead th {
    background-color: $brown-50; // Changed to light cream for new theme
    border-bottom: 2px solid $brown-200;
  }
}
